@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #263138
    
}

header {
    background-color: #ff9a6c;
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navBar {
    color: white;
    font-weight: bold;
    padding: 32px;
    text-decoration: none;
    
}

.navBar:hover {
    color: #ff9a6c;
    background-color: white;
    border-radius: 12px;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1, h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
}

.texto {
    line-height: 150%;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
}

.botao {
    background-color: #ff725e;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

.botao:hover {
    background-color: #ff9a6c;
}

.botaoTransparente {
    background-color: transparent;
    color: #ff725e;
    text-decoration: none;
    padding: 16px 32px;
}

.botaoTransparente:hover {
    color: #ff9a6c;
}

.absoluto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.textoVeterinario {
    margin-bottom: 16px;
    margin-left: 32px;
    font-weight: 500;
}

#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .texto {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}
    

.faq {
    position: relative;
    /* width: 49%; */
}

.faq h3 {
    border: 2px solid #ff725e;
    border-radius: 10px;
    cursor: pointer;
    padding: 24px;
}

.faq img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.faq .texto {
    border-right: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-radius: 0 0 10px 10px;
    margin-top: -8px;
    padding: 0 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.faq.ativa .texto {
    opacity: 1;
    height: fit-content;
    padding: 24px;
}

footer {
    display: flex;
    background-color: rgba(255, 152, 108, 0.2);
    gap: 80px;
    padding: 64px 80px;
    justify-content: space-between;
}

footer img, 
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    max-width: 350px;
}

footer nav a:hover {
    color: #ff725e;
}

footer p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
}

footer p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
    
}

footer p a:hover {
    color: #ff725e;
}

#copyright {
    background-color: #263138;
    text-align: center;
    padding: 24px;
    color: white;
}

#copyright a {
    color: wheat;
    text-decoration: none;
    font-weight: 800;
}

#copyright a:hover {
    color: #ff725e;
}